*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body{
      background-color:  hsl(0, 0%, 95%);
      font-family: 'Lexend Deca', sans-serif;
      color: hsl(0, 0%, 95%);
}


h1{
  font-family: 'Big Shoulders Display', cursive;
  font-size: 42px;
  margin: 0 0 0 30px;
}

p{
  margin: 0 0 0 30px;
  font-weight: 400;
  line-height: 30px;
  opacity: 0.8;
}


.sedan{
  background-color: hsl(31, 77%, 52%);
  height: 520px;
  width: 300px;
  margin: 198px 400px 200px 200px;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}

.sedan-image{
  margin: 35px 0  0 30px;
}

.sedan-image_learn-more{
  background-color: white;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  color: hsl(31, 77%, 52%);
  border: 2px none;
  border-radius: 20px;
  height: 50px;
  padding-left: 30px;
  padding-top: 15px;
  width: 150px;
  margin: 50px 0px 0px 28px 
}

.suv{
  background-color: hsl(184, 100%, 22%);
  height: 520px;
  width: 300px;
  margin: -720px 200px 200px 500px;
}

.suv-image{
  margin: 35px 0  0 30px;
}

.suv-image_learn-more{
  background-color: white;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  color:  hsl(184, 100%, 22%);
  border: 2px none;
  border-radius: 20px;
  height: 50px;
  padding-left: 30px;
  padding-top: 15px;
  width: 150px;
  margin: 50px 0px 0px 28px 
}

.luxury{
  background-color: hsl(179, 100%, 13%);
  height: 520px;
  width: 300px;
  margin: -720px 200px 200px 800px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}

.luxury-image{
  margin: 35px 0  0 30px;
}

.luxury-image_learn-more{
  background-color: white;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  color:  hsl(179, 100%, 13%);
  border: 2px none;
  border-radius: 20px;
  height: 50px;
  padding-left: 30px;
  padding-top: 15px;
  width: 150px;
  margin: 50px 0px 0px 28px 
}